@import "tailwindcss";

@keyframes sword-swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.animate-sword {
    animation: sword-swing 1s ease-in-out infinite;
    transform-origin: center;
}